*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

/* navbar start */

.navbar .navbar-brand{
    font-size: 30px;
    font-weight: 600;
}

.navbar .navbar-brand span{
    color:#00b7ff98;
}

nav{
background-color: #264653;
}


#navbarSupportedContent ul li a{
  
    font-weight: 500;
    margin-left: 12px;
}

#navbarSupportedContent button{
background-color:transparent;
border: 2px solid #00b7ff98;
padding: .4rem 2.1rem;
font-size: 1.1rem;
font-weight: 600;
text-transform: capitalize;
margin-left: 15px

}

#navbarSupportedContent button:hover{
background-color:#00b7ff98;
}


/* navbar end */


/* home section start */
.home{
    background-color: #264658;
    min-height: 80vh;
}



#home-left-content h1{
    font-size: 50px;
    margin-bottom: 20px;

}
#home-left-content p{
    line-height: 24px;
}

.home button{
    background-color:#00b7ff98;
    border: 2px solid #00b7ff98;
    padding: .4rem 2.1rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
   
    
    }
    
.home button:hover{
background-color:#00b7ff98;
}
/* home section end */



/* clints start */
.clints{
    padding: 2rem 0;
    background-color: #f3f5fa;
}
/* clints end */



/* futured start */
.fetured{
    padding: 80px 0;
}
.title{
    margin-bottom: 60px;
}
.title h1{
    font-size: 45px;
    font-weight: 700;
    color: #0d0925;
}
.title p{
    font-size: 19px;
color: #e76f21;
}

#grayscale-img img {
    transition: all 0.2s;
   transition: all 0.2s;
    transition: all 0.2s;
  }
  #grayscale-img img {

    float: left;
    filter: grayscale(100%);
  filter: grayscale(100%);
  filter: grayscale(100%);
  }
  #grayscale-img  img:hover {
    filter: grayscale(0%);
    filter: grayscale(0%);
    filter: grayscale(0%);
    transform: scale(1.1);
    transform: scale(1.1);
    transform: scale(1.1);
  }




             /* futured end */
             /* latest start */
#latest {
    padding: 80px 0;
}
#single-card{
    padding: 20px 20px;
}

#latest button{
    background-color: #00b7ff98;
    color: #fff;
    padding: 10px 33px;
    text-transform: capitalize;
    font-weight: 600;
}
#Money{
    color: #fa804c;
 
}

 /* latest end */


/* happy start */
.happy{
    padding: 83px 0;
}


.happy-title h1{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 45px;
    color: #0d0925;
}
.happy-title h1 span{
    color: #fa804c;
  
}
#happy-card{
    padding: 25px 63px;
}

#happy-card img{
    width: 177px;
    margin: auto;
}
.star i {
    font-size: 16px;
    color: #fa804c;
    margin-right: 6px;
}
#card-last-title1{
    font-size: 18px;
    color: #00b7ff98;
    font-weight: 700;
}
#card-last-title2{
    font-size: 15px;
    font-weight: 700;
}
/* happy end */

/* Frequently start */
.Frequently{
    padding: 85px 0;
    background-color: #f3f5fa;
}

.Frequently-title h1{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 60px;
    color: #0d0925;
}
.Frequently-title h1 span{
    color: #fa804c;
  
}

.Frequently img{
    width: 95%
}
.accordion-item{
    margin-bottom: 20px;
    border-color:#00b7ff98 ;
    padding: 11px 5px;
}

.accordion-item button span {
    color:#fa804c;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 13px;
}
.accordion-item button{
    line-height: 21px;
    color: #00b7ff;
    font-weight: 600;
}
/* Frequently end */



/* contact start */
section.contact {
    padding: 80px 0;
}

.contact-title h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    color: #0d0925;
}
.contact-title h1 span{
    color: #fa804c;
    font-size: 35px;
}
.contact-title h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #00b7ff;
}
  .contact-title h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color:#00b7ff;
  }

#location-box h5{
    color: #04378a;
    font-weight: 700;
    
}
#location-box p{
    color: #6597ee;
    
}
  

div#address i {
    font-size: 20px;
    background-color: #31a9ea2f;
    padding: 11px;
    border-radius: 23px;
    margin-right: 16px;
    color:#00b7ff;
}
  
div#address {
    margin-bottom: 15px;
}
  
  
.form {
    padding: 30px;
     box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
     border-top: 3px solid #00b7ff;
     border-bottom: 3px solid #00b7ff;
  
}
form.form label {
    font-size: 17px;
    margin-bottom: 9px;
}
  
.form-button{
    margin: auto;
    display: block;
    padding: 12px 48px;
    background-color:#00b7ff;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 33px;
    border: 1px solid #00b7ff;
    outline: none;
}
  











